@charset "utf-8";

body{ 
	background-color: #ECECEC;
	font-family: 'DIN-Regular';
	letter-spacing: -0.8px;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.eot') format('embedded-opentype'),
         url('../fonts/Pacifico.woff') format('woff'),
         url('../fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN-Regular.ttf') format('truetype'),
    	 url('../fonts/DIN-Regular.woff') format('woff'),
         url('../fonts/DIN-Regular.ttf') format('truetype');
}

#miolo{ 
	background-color: #FFFFFF;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	padding: 40px 20px 40px 20px; 
	text-align: justify;
}
 
.office-chair,
.swivel-chair,
.swivel-chair2{ 
	width: 45px;
	margin: 0 auto;
}

.swivel-chair2{ display: none; }

#topo{ text-align: center; }

#topo hr{ width: 96%; }

#topo h1{ 
	display: inline;
	text-align: center; 
	font-family: 'Pacifico';
	font-size: 2.3em;
	vertical-align: super;
	margin-left: 10px;
}

div.div-destaque{
	border: solid 2px #000000;
	margin-top: 30px;
	padding: 10px 15px 10px 15px;
	text-indent:2em;
}

/* Mesa e texto */
div.div-mesa{ margin: 50px 0px 25px 0px; }

div.div-mesa-img{
	display: inline-block;
	width: 14%;
	max-width: 120px;
	margin: 0 2.5% 0 2.5%;
	vertical-align: top;
}

div.div-mesa-text{
	display: inline-block;
	width: 79%;
	margin-left: 1%;
}


/* Texto e armário */
div.div-armario{ margin: 50px 0px 25px 0px; }

div.div-armario-text{
	display: inline-block;
	width: 84%;
	margin-left: 1%;
}

div.div-armario-img{
	display: inline-block;
	width: 12%;
	max-width: 110px;
	margin-left: 2%;
	float: right;
}

/* Escritório e texto */
div.div-escritorio{ margin: 50px 0px 50px 0px; }

div.div-escritorio-img{ 
	display: inline-block; 
	width: 40%;
}

div.div-escritorio-text{
	display: inline-block; 
	width: 57%; 
	margin-left: 2%;
	vertical-align: top;
}

div.div-escritorio-text2{ display: none; }

div.div-escritorio-img .img-escritorio{ width: 100%; }

/* Divisória com poltrona */
div.divisoria{ text-align: center; }

div.divisoria hr{ 
	display: inline-block;
	width: 18%;
	vertical-align: super;
}

/* Texto e poltrona */
div.div-poltrona{ margin: 40px 0px 50px 0px; }

div.div-poltrona-text{ 
	display: inline-block;
	width: 62%; 
	margin-left: 2%;	
}

div.div-poltrona-img{ 
	display: inline-block;
	width: 35%;
	float: right; 
}

div.div-poltrona-img .img-poltrona{ width: 100%; margin-top: 40px;}

/*Rodapé*/
p.titulo-poltrona{ 
	font-size: 1.4em;
	text-decoration: underline; 
}

a.botao,
input.botao{
	display: block;
	width: 65%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #FB4C4C;
	padding: 5px 0px 5px 0px; 
}


@media (min-width: 801px) and (max-width: 1200px) {
	#miolo{ width: 70%; }
}

@media  (max-width: 800px) {
	#miolo{ 
		width: 94%; 
		padding: 3%;
	}

	#topo hr{ width: 50%; }

	#topo h1{ 
		font-size: 2.8em;
	}

	div.div-destaque{
		border: solid 2px #000000;
		margin-top: 30px;
		padding: 10px 15px 10px 15px;
		text-indent:2em;
	}

	/* Mesa e texto */
	div.div-mesa{ margin: 50px 0px 25px 0px; }

	div.div-mesa-img{
		display: block;
		width: 100%;
		max-width: 120px;
		margin: 0 auto;
	}

	div.div-mesa-text{
		display: block;
		width: 100%;
		margin: 0;
	}

	/* Texto e armário */
	div.div-armario{ margin: 50px 0px 25px 0px; }

	div.div-armario-text{
		display: block;
		width: 100%;
		margin: 0;
	}

	div.div-armario-img{
		display: block;
		width: 100%;
		max-width: 110px;
		margin: 0 auto;
		float: none;
	}

	/* Escritório e texto */
	div.div-escritorio{ margin: 50px 0px 50px 0px; }

	div.div-escritorio-img{
		display: block;  
		width: 100%; 
	}

	div.div-escritorio-text{ display: none; }

	div.div-escritorio-text2{ display: block; }

	/* Divisória com poltrona */
	div.divisoria{ display: none; }

	.swivel-chair2 { 
		display: inline;
		vertical-align: bottom;
	}


	/* Texto e poltrona */
	div.div-poltrona{ margin: 40px 0px 50px 0px; }

	div.div-poltrona-text{ 
		display: block;
		width: 100%;
		margin: 0; 	
	}

	div.div-poltrona-img{ 
		display: block;
		width: 100%; 	 
	}

	a.botao{ width: 90%; }
}